<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Balance</title>
</head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<body>

	<div class="container">
	
		<h1 class="py-4"><i class="bi bi-bank"></i> Balance Management System</h1>
		
		<div class="row">
		
			<div class="col-3">
			
				<div class="list-group">
				
					<a th:href="@{/}" class="list-group-item"><i class="bi bi-house"></i> Home</a>
					<a th:href="@{/user/balance}" class="list-group-item"><i class="bi bi-bar-chart"></i> Balance Report</a>
					<a th:href="@{/user/balance/income}" class="list-group-item"><i class="bi bi-graph-up"></i></i> Income</a>
					<a th:href="@{/user/balance/expense}" class="list-group-item"><i class="bi bi-graph-down"></i></i> Expense</a>
					<a sec:authorize="hasAuthority('Admin')" th:href="@{/admin/users}" class="list-group-item">
						<i class="bi bi-people"></i> Users Management
					</a>
					<a sec:authorize="hasAuthority('Member')" th:href="@{/user/profile}" class="list-group-item">
						<i class="bi bi-person-circle"></i> Profile
					</a>
					<a href="#" data-bs-toggle="modal" data-bs-target="#changePassword" class="list-group-item"><i class="bi bi-key"></i> Change Password</a>
					<a href="#" id="signoutLink" class="list-group-item"><i class="bi bi-box-arrow-left"></i> Logout</a>
				
				</div>
			</div>
			
			<div class="col">
				
				<div layout:fragment="content"></div>
				
			</div>
			
			
		
		</div>
	
	</div>

	<div th:insert="/fragments/modals :: changePass" id="changePassContainer"></div>
	<div th:insert="/fragments/signout-form :: signout" id="signout"></div>

</body>
</html>