<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- Change Password Fragment -->


		<div class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="Change Password" aria-hidden="true" id="changePassword" th:fragment="changePass">
			<div class="modal-dialog" role="document">
				<form th:action="@{/user/changepass}" class="modal-content" method="post">
					<div class="modal-header">
						<h5>Change Password</h5>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<label for="oldPass" class="mb-1">Old Password</label>
							<input type="text" id="oldPass" placeholder="Enter Old Password" class="form-control"/>
						</div>
						
						<div class="mb-3">
							<label for="newPass" class="mb-1">New Password</label>
							<input type="text" is="newPass" placeholder="Enter New Password" class="form-control"/>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary">Change Password</button>
					</div>
				</form>
			</div>
		</div>



</body>
</html>