<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Details</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="card">

			<div class="card-header"><i class="bi-plus"></i> Save <span th:text="${session.balanceEditForm.header.type}"></span></div>
			
			<div class="card-body">
			
				<form th:action="@{/user/balance-edit}" th:object="${summaryForm}" class="row" method="post">
				
					<div class="col-auto">
						<input type="date" th:field="*{date}" class="form-control" />
						<span class="text-danger" th:errors="*{date}"></span>
					</div>
					
					<div class="col-3">
						<input type="text" th:field="*{category}" class="form-control" placeholder="Enter Category" />
						<span class="text-danger" th:errors="*{category}"></span>
					</div>
					
					<div class="col-auto">
						<input type="text" class="form-control text-end" disabled="disabled" th:value="${session.balanceEditForm.total}"/>
					</div>
					
					<div class="col-auto">
						<button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i> Save</button>
					</div>
					
					<div class="col-auto">
						<a th:href="@{/user/balance-edit(type=${session.balanceEditForm.header.type})}" class="btn btn-outline-secondary">
							<i class="bi bi-back"></i> Back
						</a>
					</div>
				
				</form>
			
			</div>
		</div>
		
		<div th:replace="/fragments/component :: balanceDetailList(${session.balanceEditForm}, true)"></div>

	</div>
</body>
</html>
