<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Details</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="card">

			<div class="card-header"><i class="bi-plus"></i> Add <span th:text="${session.balanceEditForm.header.type}"></span></div>
			
			<div class="card-body">
			
				<form th:action="@{/user/balance-edit/item}" th:object="${itemForm}" method="post" class="row">
				
					<div class="col-3">
						<input type="text" th:field="*{item}" class="form-control" placeholder="Enter Item Name" />
						<span class="text-danger" th:errors="*{item}"></span>
					</div>
					
					<div class="col-auto">
						<input type="number" th:field="*{unitPrice}" class="form-control" placeholder="Unit Price"/>
						<span class="text-danger" th:errors="*{unitPrice}"></span>
					</div>
					
					<div class="col-2">
						<input type="number" th:field="*{quantity}" class="form-control" placeholder="Quantity"/>
						<span class="text-danger" th:errors="*{quantity}"></span>
					</div>
					
					<div class="col-auto">
						<button class="btn btn-danger" type="submit"><i class="bi bi-plus"></i>Add Item</button>
					</div>
					
					<div class="col-auto">
						<a th:href="@{/user/balance-edit/confirm}" class="btn btn-primary">
							<i class="bi bi-save"></i> Save Balance
						</a>
					</div>
				
				</form>
			
			</div>
		</div>
		
		<div class="card mt-4">

            <div class="card-header"><i class="bi-plus"></i> <span th:text="${session.balanceEditForm.header.type}"></span> Detail List</div>

            <div class="card-body">
                <table class="table table-striped">
                
                	<thead>
                		<tr>
                			<th>No.</th>
                			<th>Item Name</th>
                			<th class="text-end">Unit Price</th>
                			<th class="text-end">Quantity</th>
                			<th class="text-end">Total</th>
                			<th class="text-end">Action</th>
                		</tr>
                	</thead>
                
                	<tbody>
                		<tr th:each="item, rowNum : ${balanceEditForm.items}">
                			<td th:text="${rowNum.index + 1}"></td>
                			<td th:text="${item.item}"></td>
                			<td th:text="${item.unitPrice}" class="text-end"></td>
                			<td th:text="${item.quantity}" class="text-end"></td>                		
                			<td th:text="${item.unitPrice * item.quantity}" class="text-end"></td>
                			<td class="text-end">
                				<a th:href="@{/user/balance-edit/item/delete(id=${rowNum.index})}"><i class="bi bi-trash"></i></a>
                			</td>
                		</tr>
                	</tbody>
                </table>
            </div>

        </div>

	</div>
</body>
</html>
