<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Incomes</title>
</head>
<body>
	<div layout:fragment="content">
	
		<div class="card">
		
			<div class="card-header" th:text="${title}"></div>
			
			<div class="card-body">
			
				<form class="row">
				
					<div class="col-auto">
					
						<input type="date" th:value="${param.dateFrom}" name="dateFrom" class="form-control"/>
					
					</div>
					
					<div class="col-auto">
					
						<input type="date" th:value="${param.dateTo}" name="dateTo" class="form-control"/>
					
					</div>
					
					<div class="col">
					
						<input type="text" name="keyword" th:value="${param.keyword}" class="form-control" placeholder="Keyword"/>
					
					</div>
					
					<div class="col-auto">
					
						<button type="submit" th:href="@{/user/balance/} + ${type}" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
					
					</div>
					
					<div class="col-auto">
					
						<a th:href="@{/user/balance-edit(type=${type})}" class="btn btn-danger text-decoration-none"><i class="bi bi-plus"></i>Add Balance</a>
					
					</div>
				
				</form>
			
			</div>
		
		</div>
		
		<table class="table table-striped mt-4">
		
			<thead>
			
				<tr>
					<th>Date</th>
					<th>Category</th>
					<th>Item</th>
					<th class="text-end">Unit Price</th>
					<th class="text-end">Quantity</th>
					<th class="text-end">Total</th>
					<th class="text-end">Total</th>
				</tr>
			
			</thead>
			
			<tbody>
			
				<tr th:each="item : ${list}" th:if="${item.balance.type == type}">
					<td th:text="${#temporals.format(item.balance.date, 'yyyy-MM-dd')}"></td>
					<td th:text="${item.balance.category}"></td>
					<td th:text="${item.item}"></td>
					<td th:text="${#numbers.formatInteger(item.unitPrice,1,'COMMA')}" class="text-end"></td>
					<td th:text="${item.quantity}" class="text-end"></td>
					<td class="text-end" th:text="${#numbers.formatInteger(item.unitPrice * item.quantity,1,'COMMA')}"></td>
					<td class="text-end">
						<a th:href="@{'/user/balance/details/'} + ${item.balance.id}"><i class="bi-list"></i></a>
					</td>
				</tr>
			
			</tbody>
		
		</table>
		
		<div th:include="/fragments/component :: pagination(${pagination})" id="paginationContainer"></div>
	</div>

</body>
</html>