<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Details</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="card">

			<div class="card-header"><i class="bi-plus"></i> Add <span th:text="${session.balanceEditForm.header.type}"></span></div>
			
			<div class="card-body">
			
				<form th:action="@{/user/balance-edit/item}" th:object="${itemForm}" method="post" class="row">
				
					<div class="col-3">
						<input type="text" th:field="*{item}" class="form-control" placeholder="Enter Item Name" />
						<span class="text-danger" th:errors="*{item}"></span>
					</div>
					
					<div class="col-auto">
						<input type="number" th:field="*{unitPrice}" class="form-control" placeholder="Unit Price"/>
						<span class="text-danger" th:errors="*{unitPrice}"></span>
					</div>
					
					<div class="col-2">
						<input type="number" th:field="*{quantity}" class="form-control" placeholder="Quantity"/>
						<span class="text-danger" th:errors="*{quantity}"></span>
					</div>
					
					<div class="col-auto">
						<button class="btn btn-outline-danger" type="submit"><i class="bi bi-plus"></i>Add Item</button>
					</div>
					
					<div th:if="${session.balanceEditForm.showSave}" class="col-auto">
						<a th:href="@{/user/balance-edit/confirm}" class="btn btn-outline-primary">
							<i class="bi bi-save"></i> Save Balance
						</a>
					</div>
				
				</form>
			
			</div>
		</div>
		
		<div th:replace="/fragments/component :: balanceDetailList(${session.balanceEditForm}, false)"></div>
	</div>
</body>
</html>
