<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{anonymous.html}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Sign In</title>
</head>
<body>

	<div layout:fragment="content">
	
		<h3 class="text-center mb-3">Balance Management</h3>
		<div th:text="${message}" th:class="${message} eq 'User already exists' ? 'alert alert-warning' : ''"></div>
		
		<form th:action="@{/signup}" th:object="${form}" class="card" method="post">
		
			<div class="card-header"><i class="bi bi-person-check"></i> Sign In</div>
			
			<div class="card-body">
			
				<div class="mb-3">
					<label for="name" class="mb1">Name</label>
					<div class="input-group mt-1">
						<span class="input-group-text">
							<i class="bi bi-person-circle"></i> 
						</span>
						<input type="text" th:field="*{name}" id="name" placeholder="Enter Name" class="form-control"/>
					</div>
					<span th:errors="*{name}" class="text-danger"></span>
				</div>
			
				<div class="mb-3">
					<label for="login" class="mb1">Login ID</label>
					<div class="input-group mt-1">
						<span class="input-group-text">
							<i class="bi-lock"></i>
						</span>
						<input type="text" th:field="*{loginId}" id="login" placeholder="Enter Login ID" class="form-control"/>
					</div>
					<span th:errors="*{loginId}" class="text-danger"></span>
				</div>
				
				<div>
					<label for="password" class="mb1">Password</label>
					<div class="input-group mt-1">
						<span class="input-group-text">
							<i class="bi-key"></i>
						</span>
						<input type="password" th:field="*{password}" id="password" placeholder="Enter Password" class="form-control"/>
					</div>
					<span th:errors="*{password}" class="text-danger"></span>
				</div>
			
			</div>
			
			<div class="card-footer">
				<button type="submit" class="btn btn-primary"><i class="bi bi-person-check"></i> Sign Up</button>
				<a th:href="@{/signin}" class="btn btn-secondary"><i class="bi bi-person-gear"></i> Sign In</a>
			</div>
		
		</form>
	
	</div>

</body>
</html>