<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{/layout/anonymous.html}" lang="en">
<head>
<meta charset="UTF-8">
<title>Sign In</title>
</head>
<body>

	<div layout:fragment="content">
	
		<h3 class="text-center mb-3">Balance Management</h3>
		
		<form th:action="@{/signin}" class="card" method="post">
		
			<div class="card-header"><i class="bi bi-person-check"></i> Sign In</div>
			
			<div class="card-body">
				
				<div th:if="${param.error != null}" class="alert alert-info">Please Check Your Information</div>
			
				<div class="mb-3">
					<label for="login" class="mb-1">Login ID</label>
					<div class="input-group mt-1">
						<span class="input-group-text">
							<i class="bi-lock"></i>
						</span>
						<input type="text" name="username" id="login" placeholder="Enter Login ID" class="form-control"/>
					</div>
				</div>
				
				<div>
					<label for="password" class="mb1">Password</label>
					<div class="input-group mt-1">
						<span class="input-group-text">
							<i class="bi-key"></i>
						</span>
						<input type="password" name="password" id="password" placeholder="Enter Password" class="form-control"/>
					</div>
				</div>
			
			</div>
			
			<div class="card-footer">
				<button type="submit" class="btn btn-primary"><i class="bi bi-person-check"></i> Login</button>
				<a th:href="@{/signup}" class="btn btn-secondary"><i class="bi bi-person-gear"></i> Sign Up</a>
			</div>
		
		</form>
	
	</div>

</body>
</html>