<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{/layout/authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Users</title>
</head>
<body>

	<div layout:fragment="content">
	
		<div class="card">
		
			<div class="card-header">Users Management</div>
		
			<div class="card-body">
				
				<form th:action="@{/admin/users/search}" class="row">
				
					<div class="col-3">
					
						<select name="status" id="status" class="form-control">
							<option th:selected="${#strings.equals(param.status, '')}" value="">All Users</option>
							<option th:selected="${#strings.equals(param.status, 'true')}" value="true">Active</option>
							<option th:selected="${#strings.equals(param.status, 'false')}" value="false">Removed</option>
						</select>
					
					</div>
					
					<div class="col-auto">
						<input type="text" th:value="${param.name}" name="name" class="form-control" placeholder="Enter Name"/>
					</div>
					
					<div class="col-auto">
						<input type="tel" th:value="${param.phone}" name="phone" class="form-control" placeholder="Enter Phone"/>
					</div>

					<div class="col-auto">
						<button class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
					</div>
				
				</form>
			
			</div>
		</div>
		
		<table class="table table-striped mt-4">
		
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Status</th>
					<th>Phone</th>
					<th>Email</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="user : ${list}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.status} ? 'Active' : 'Suspend'"></td>
					<td th:text="${user.phone}"></td>
					<td th:text="${user.email}"></td>
					<td>
						<!-- trace the code -->
						<a href="#" th:attr="data-id=${user.id}, data-status=${user.status}, data-name=${user.name}" data-bs-toggle="modal" class="btn btn-link userStatusChangeLink">
							<i th:if="${user.status}" class="bi bi-trash"></i>
							<i th:unless="${user.status}" class="bi bi-check"></i>
						</a>
					</td>
				</tr>
			</tbody>
		
		</table>
		
		<div th:insert="/fragments/modals :: userStatusChange"></div>
		<!-- <script th:src="@{/resources/static/js/common.js}"></script> -->
	
	</div>

</body>
</html>